#gameBoardDiv{
    border: 1px solid black;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 20rem;
    height: 20rem;
    margin: auto;
    align-items: center;
}

.gameSquare{
    display: flex;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
    width: 6.55rem;
    height: 6.55rem;
}