:root{
    --main-color: black;
    --secondary-color: white;
    --color-one: #FB33DB;
    --color-two: #7FFF00;
    --color-three: #FCF340;
    --color-four: #0310EA;
}
body{
    background-color: var(--main-color);
    color: var(--secondary-color);
    margin: 0;
}


#gameBoardDiv{
    border: 1px solid var(--secondary-color);
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 20rem;
    height: 20rem;
    margin: auto;
    align-items: center;
}

.gameSquare{
    display: flex;
    border: 1px solid var(--secondary-color);
    align-items: center;
    justify-content: center;
    width: 6.55rem;
    height: 6.55rem;
}

#header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 2fr;
    background-color: var(--secondary-color);
    color: var(--main-color);
    margin-bottom: 6rem;
    height: 12rem;
    padding-bottom: 3rem;
}

#tictactoe{
    grid-area: 1/1/1/3;
    margin: auto;
}

#player1Status{
    grid-area: 2/1/2/1;
    
}

#player2Status{
    grid-area: 2/2/2/2;
}

.playerstatus{
    background-color: var(--main-color);
    border-radius: 150px;
    
    color: white;
    display: grid;
    justify-self:center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
}

#player1Status{
    border: 5px double var(--color-one);
}

#player2Status{
    border: 5px double var(--color-two);
}

.playerName{
    grid-area: 1/1/2/3;
    font-size: 1.5rem;
}

.symbol{
    grid-area:2/1/3/3;
    font-size: 2rem;
}

.score{
    grid-area:3/1/4/2;
}

.playerScore{
    grid-area:3/2/4/3;
}

.playerTurn{
    color: var(--color-three);
}

.crosses{
    color: var(--color-one);
}

.naughts{
    color: var(--color-two);
}