:root{
    --main-color: black;
    --secondary-color: white;
    --color-one: #FB33DB;
    --color-two: #7FFF00;
    --color-three: #FCF340;
    --color-four: #0310EA;
}
body{
    background-color: var(--main-color);
    color: var(--secondary-color);
    margin: 0;
}


#gameBoardDiv{
    border: 1px solid var(--secondary-color);
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 20rem;
    height: 20rem;
    margin: auto;
    align-items: center;
}

.gameSquare{
    display: flex;
    border: 1px solid var(--secondary-color);
    align-items: center;
    justify-content: center;
    width: 6.55rem;
    height: 6.55rem;
    font-size: 5rem;
}

#header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr 2fr;
    background-color: var(--main-color);
    color: var(--secondary-color);
    margin-bottom: 6rem;
    height: 12rem;
    padding-bottom: 3rem;
}

#tictactoe{
    grid-area: 1/1/1/3;
    margin: auto;
}

#player1Status{
    grid-area: 2/1/2/1;
    
}

#player2Status{
    grid-area: 2/2/2/2;
}

.playerstatus{
    background-color: var(--main-color);   
    color: white;
    display: grid;
    justify-self:center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    padding: 1rem 2rem 1rem 2rem;
}

#player1Status{
    border: 5px ridge var(--color-one);
}

#player2Status{
    border: 5px ridge  var(--color-two);
}

.playerName{
    grid-area: 1/1/2/3;
    font-size: 1.5rem;
}

.symbol{
    grid-area:2/1/3/3;
    font-size: 2rem;
}

.score{
    grid-area:3/1/4/2;
}

.playerScore{
    grid-area:3/2/4/3;
}

.playerTurn{
    color: var(--color-three);
}

.crosses{
    color: var(--color-one);
}

.naughts{
    color: var(--color-two);
}

h2{
    text-align: center;
}


/* ------Modal ------ */

/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: var(--main-color);
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 5px groove var(--secondary-color);
    width: 25rem;
    box-shadow: 5px 5px 5px var(--main-color); 
  }
  
  /* The Close Button */
  .close {
    color: var(--secondary-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--color-one);
    text-decoration: none;
    cursor: pointer;
  }

  #formFields{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 2rem;
    font-size: 1.5rem;
    gap: 2rem;
  }

  #submitBtn{
      display: flex;
      margin: auto;
      background-color: var(--secondary-color);
      border: 1px solid var(--main-color);
      font-size: 1.5rem;
      width: 6rem;
      justify-content: center;
  }